In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
automobiles_data = pd.read_csv('datasets/CarPrice_Assignment.csv')

automobiles_data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
automobiles_data.shape

(205, 26)

In [4]:
automobiles_data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [5]:
automobiles_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
car_ID              205 non-null int64
symboling           205 non-null int64
CarName             205 non-null object
fueltype            205 non-null object
aspiration          205 non-null object
doornumber          205 non-null object
carbody             205 non-null object
drivewheel          205 non-null object
enginelocation      205 non-null object
wheelbase           205 non-null float64
carlength           205 non-null float64
carwidth            205 non-null float64
carheight           205 non-null float64
curbweight          205 non-null int64
enginetype          205 non-null object
cylindernumber      205 non-null object
enginesize          205 non-null int64
fuelsystem          205 non-null object
boreratio           205 non-null float64
stroke              205 non-null float64
compressionratio    205 non-null float64
horsepower          205 non-null int64
peakrpm             205 non-null int64
citympg             205 non-null int64
highwaympg          205 non-null int64
price               205 non-null float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [6]:
automobiles_data.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [16]:
automobiles_data['CarName'].value_counts()

peugeot 504           6
toyota corona         6
toyota corolla        6
subaru dl             4
honda civic           3
                     ..
nissan teana          1
alfa-romero giulia    1
mitsubishi montero    1
volkswagen type 3     1
mitsubishi mirage     1
Name: CarName, Length: 147, dtype: int64

In [17]:
automobiles_data.drop(['car_ID', 'symboling', 'CarName'], axis=1, inplace=True)

In [18]:
automobiles_data = pd.get_dummies(automobiles_data)

In [19]:
automobiles_data.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0

In [20]:
automobiles_data.describe()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,...,0.004878,0.019512,0.053659,0.321951,0.014634,0.097561,0.004878,0.458537,0.043902,0.004878
std,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,...,0.069843,0.138655,0.225894,0.468368,0.120377,0.297446,0.069843,0.499498,0.205380,0.069843
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
automobiles_data.shape

(205, 52)

In [22]:
X = automobiles_data.drop('price', axis=1)

Y = automobiles_data['price']

In [23]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [24]:
x_train.shape, x_test.shape

((164, 51), (41, 51))

In [25]:
y_train.shape, y_test.shape

((164,), (41,))

In [26]:
model = LinearRegression().fit(x_train, y_train)

In [27]:
Training_score = model.score(x_train, y_train)

Training_score

0.944734773347347

In [28]:
y_pred = model.predict(x_test)

y_pred

array([ 8733.66960051, 11048.8675744 ,  5141.28543507, 11414.92295691,
        7226.60996853,  2143.89380531, 17867.95062819,  6354.84368111,
        5333.32817766,  6748.32993409, 10884.8253396 , 12994.75325997,
       34748.59532457, 10750.48792171, 12230.90141025, 25997.72095356,
        8259.13794437,  8430.51775029,  6395.85461267,  7450.1478001 ,
       15224.85925978, 13253.13060841,  8022.5120749 ,  6119.460073  ,
       11503.90527345, 21077.80157115, 35026.63637081,  6443.78478921,
       16133.22682215,  9836.66545001,  5342.83311566, 14285.3889857 ,
        9406.7557445 ,  9167.47392722, 25950.78401732, 35934.23479433,
       10863.85544702,  5795.48890245,  4346.63395532,  6627.59116248,
        9657.78500159])

In [29]:
Testing_score = r2_score(y_test, y_pred)

Testing_score

0.8792462669642122

In [30]:
import json

In [31]:
model.coef_

array([ 3.69420749e+01, -5.77191747e+01,  7.21292752e+02, -4.11810378e+01,
        3.98459138e+00,  1.27158604e+02,  3.90614019e+01, -5.21791459e+03,
       -9.50594063e+02, -1.95970554e+01,  2.93165960e+00, -1.14217544e+02,
        9.62542044e+01,  4.98597140e+03, -4.98597140e+03, -9.90142680e+02,
        9.90142680e+02,  4.62464023e+00, -4.62464023e+00,  2.70951082e+03,
        1.16389096e+02, -1.37567007e+03, -6.31951922e+01, -1.38703466e+03,
       -1.12931915e+02, -2.34050858e+01,  1.36337001e+02, -3.64210270e+03,
        3.64210270e+03, -3.33168162e+02, -1.81898940e-12, -5.59134188e+02,
        3.93610671e+03,  7.85119660e+02, -6.81827738e+03,  2.98935336e+03,
        5.87964820e+03, -5.67324902e+03, -5.62192575e+03, -4.90321544e+02,
        5.62087138e+03, -2.70437663e+03,  2.98935336e+03,  5.75139436e+02,
        8.14598463e+02, -2.48074834e+03,  4.98597140e+03, -2.90888290e+03,
        5.71596994e+02, -1.98345411e+03,  4.25779059e+02])

In [32]:
model.intercept_

-28830.588940456393

In [33]:
model_param = {}

model_param['coef'] = list(model.coef_)
model_param['intercept'] = model.intercept_.tolist()

In [35]:
list(model_param)

['coef', 'intercept']

In [36]:
json_txt = json.dumps(model_param, indent=4)

json_txt

'{\n    "coef": [\n        36.94207490407209,\n        -57.7191747324026,\n        721.2927521870878,\n        -41.1810377515417,\n        3.9845913824137518,\n        127.1586036940768,\n        39.061401924718965,\n        -5217.914591548013,\n        -950.5940628214634,\n        -19.597055443390545,\n        2.9316596014379646,\n        -114.21754402742097,\n        96.25420442056843,\n        4985.971395943061,\n        -4985.9713959430765,\n        -990.1426799085817,\n        990.1426799085926,\n        4.624640228643981,\n        -4.624640228634244,\n        2709.5108211538386,\n        116.38909589174698,\n        -1375.6700656554235,\n        -63.19519222181472,\n        -1387.0346591683501,\n        -112.93191534300654,\n        -23.405085767471775,\n        136.33700111049097,\n        -3642.102701150451,\n        3642.102701150455,\n        -333.16816177846954,\n        -1.8189894035458565e-12,\n        -559.1341883485276,\n        3936.106708427596,\n        785.1196599523805,\n        -6818.277377553905,\n        2989.3533593009183,\n        5879.648201300735,\n        -5673.249016682637,\n        -5621.925747145476,\n        -490.3215444985641,\n        5620.871375452587,\n        -2704.376627727575,\n        2989.353359300912,\n        575.1394359523836,\n        814.5984628994215,\n        -2480.7483443480496,\n        4985.971395943069,\n        -2908.882896367586,\n        571.5969938693746,\n        -1983.4541068697397,\n        425.77905892117633\n    ],\n    "intercept": -28830.588940456393\n}'

In [37]:
with open('models/regressor_param.txt', 'w') as file:
    
    file.write(json_txt)

In [38]:
with open('models/regressor_param.txt', 'r') as file:
    
    json_text=json.load(file)

In [39]:
json_model = LinearRegression()

In [40]:
json_model.coef_ = np.array(json_text['coef'])
json_model.intercept_ = np.array(json_text['intercept'])

In [41]:
y_pred = json_model.predict(x_test)

r2_score(y_test, y_pred)

0.8792462669642122

In [42]:
Testing_score

0.8792462669642122

If you are working with Complex Models like **Decision Trees** and **Support Vector Machines** you might have to go with other Serialization technique like **Pickle** and **Joblib**

The `pickle` module implements binary protocols for `serializing` and `de-serializing` a Python object structure. `“Pickling”` is the process whereby a Python object hierarchy is converted into a byte stream, and `“unpickling”` is the inverse operation, whereby a byte stream (from a binary file or bytes-like object) is converted back into an object hierarchy. `Pickling` (and `unpickling`) is alternatively known as `“serialization”`, `“marshalling,”`  or `“flattening”`; however, to avoid confusion, the terms used here are `“pickling”` and `“unpickling”`.

In [43]:
import pickle

In [29]:
pickle.dump(model, open('models/model.pkl', 'wb'))  # in write and bytes mode "wb"

In [30]:
# de-serializing using pickle.load

pickle_model = pickle.load(open('models/model.pkl', 'rb'))  # opened in read and bytes mode "rb"

In [31]:
y_pred = pickle_model.predict(x_test)

y_pred

array([ 7444.89186293,  6107.84797371,  6049.18256523, 19825.94708797,
       32528.        , 30807.41618538,  8692.87625137,  9125.72096319,
        7207.11434219, 19170.8276747 ,  6188.51470274,  9401.00847633,
        5813.54598939,  6262.64324424, 10306.13737638,  6813.36604948,
       20592.97413267, 14009.47828664, 16739.305685  , 36231.72683087,
       19375.49338246, 12255.15918087,  4645.90907822,  2907.80679854,
       21891.51077272,  8279.80182408, 20407.83457986,  7744.62861042,
        6867.37449214, 15339.94905903, 26981.58814282,  7330.23962357,
       10847.34713738, 10580.29395604, 11204.29548865, 16854.12140335,
       12289.53597444,  8111.82608409,  8791.33624935,  5652.69148029,
        6225.66047874])

In [32]:
r2_score(y_test, y_pred)

0.8959668832301437

In [33]:
Testing_score

0.8959668832301437

The `Joblib module` is better fit for serializing scikit-learn modules as it works more efficiently with objects that have large Numpy arrays internally.

In [44]:
import joblib

In [45]:
filename = 'models/model.joblib'

In [46]:
joblib.dump(model, filename)

['models/model.joblib']

In [47]:
joblib_model = joblib.load(filename)

In [48]:
y_pred = joblib_model.predict(x_test)

y_pred

array([ 8733.66960051, 11048.8675744 ,  5141.28543507, 11414.92295691,
        7226.60996853,  2143.89380531, 17867.95062819,  6354.84368111,
        5333.32817766,  6748.32993409, 10884.8253396 , 12994.75325997,
       34748.59532457, 10750.48792171, 12230.90141025, 25997.72095356,
        8259.13794437,  8430.51775029,  6395.85461267,  7450.1478001 ,
       15224.85925978, 13253.13060841,  8022.5120749 ,  6119.460073  ,
       11503.90527345, 21077.80157115, 35026.63637081,  6443.78478921,
       16133.22682215,  9836.66545001,  5342.83311566, 14285.3889857 ,
        9406.7557445 ,  9167.47392722, 25950.78401732, 35934.23479433,
       10863.85544702,  5795.48890245,  4346.63395532,  6627.59116248,
        9657.78500159])

In [49]:
r2_score(y_test, y_pred)

0.8792462669642122

In [50]:
Testing_score

0.8792462669642122